/* vietnamese */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58m-xDwxUD2GF9Zc.woff) format('woff');
    unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58i-xDwxUD2GF9Zc.woff) format('woff');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Quicksand';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/quicksand/v24/6xK-dSZaM9iE8KbpRA_LJ3z8mH9BOJvgkKEo58a-xDwxUD2GFw.woff) format('woff');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --text-color: black;
    --text-light: #3a3a3a;
    --background: white;
    --border: #afafaf;
    --border-light: #c7c7c7;
    --border-lighter: #eee;
    --header-color: #eaeaea;
    --bg-accent: #9d9d9d;

    --global-transition: 0ms;
}

[data-theme="dark"] {
    --text-color: #fff;
    --text-light: #ddd;
    --background: #333;
    --border: #666;
    --border-light: #555;
    --border-lighter: #444;
    --header-color: #151515;
    --bg-accent: #444;
}

[data-transitioning="yes"] {
    --global-transition: 500ms !important;
}

* {
    font-family: 'Quicksand', sans-serif;
    transition: var(--global-transition) !important;
    color: var(--text-color);
}

body {
    margin: 0;
    background: var(--background);
}

input, textarea {
    background: var(--background);
    color: var(--text-color);
}

a {
    color: var(--text-light);
    transition: 200ms;
}

a:hover {
    color: var(--text-color);
}

input {
    margin: 10px;
    padding: 5px;
    font-size: 18px;
    border-radius: 0;
    border: none;
    border-bottom: 2px solid var(--border);
    outline: none;
    transition: 100ms;
}

input:hover {
    border-bottom: 2px solid var(--border-light);
}

button.clean {
    background: none;
    border-radius: 4px;
    border: 1px solid var(--border);
    transition: 200ms;
    font-size: 18px;
}


/* SVG ICONS */
.icon {
    background: none;
    border: none;
    transition: 200ms;
    text-decoration: none;
}

.icon > svg {
    height: 40px;
    width: 40px;
    fill: var(--text-color);
    border: none;
}

.icon:hover > svg {
    cursor: pointer;
    transform: scale(1.1);
}

.svg {
    height: 30px;
    width: 30px;
    fill: var(--text-color);
    border: none;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    background: var(--header-color);
    padding: 4px;
}

#ME_INPUT {
    margin: 0;
    border: none;
    border-radius: 5px;
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
